/* src/components/TextImageSection.module.css */
.boxedLayout {
  padding: 80px; /* Padding for the boxed section */
 
  background-color: #fff /* Light background for contrast */
}

.container {
  display: flex; /* Use flexbox to align text and image side by side */
  align-items: center; /* Center items vertically */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.textContainer {
  flex: 1; /* Allow the text container to take available space */
  padding-right: 20px; /* Add space between text and image */
  min-width: 300px; /* Minimum width for the text container */
}

.imageContainer {
  position: relative; /* Position the image container relatively */
  transition: transform 0.1s ease-out; /* Smooth transition for movement */
  width: 400px; /* Set a fixed width for the image container */
  padding-left: 20px; /* Space between text and image */
}

.image {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
}

/* New style for h2 */
.textContainer h2 {
  color: #340066; /* Set the text color for h2 */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack text and image vertically on smaller screens */
    align-items: center; /* Center items horizontally */
  }

  .textContainer {
    padding-right: 0; /* Remove right padding on smaller screens */
    text-align: center; /* Center text on smaller screens */
  }

  .imageContainer {
    width: 100%; /* Make image container full width on smaller screens */
    max-width: 400px; /* Limit max width to 400px */
    padding-left: 0; /* Remove left padding on smaller screens */
  }
}
